.section__text_plus_image {
	.flex-image__container {
		max-width: 600px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		img {
			display: block;
		}
		div {
			flex: 1 0 50%;
			padding: 3px;
		}
		.flex-image__image-1 {
			flex-basis: 100%;
		}
	}
}
