.section__text_plus_image {
	.row__flex-reverse {
		.column {
			margin-right: 2.35765%;
			&:first-child {
				margin-right: 0;
			}
		}
	}
	.flex-image__container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		@media screen and (min-width: 768px) {
			max-width: 600px;
		}
		img {
			display: block;
		}
		div {
			padding: 3px;
			flex: 1;
			@media screen and (min-width: 768px) {
				flex: 1 0 50%;
			}
		}
		.flex-image__image-1 {
			@media screen and (min-width: 768px) {
				flex-basis: 100%;
			}
		}
	}
}
