nav {
	position: fixed;
	z-index: 2;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 1.5rem 0;
	justify-content: space-between;
	transition: .4s ease-in-out;

	&.is-scrolled {
		background: rgba(#fff, 0.95);
	}
}
