<nav{% if is_home %} class="nav-transparent"{% endif %}>
	<div class="logo-container">
			<a href="/" class="logo"><img src="{{theme.link}}/img/logo.svg" alt="logo"></a>
	</div>	
	<div class="main-navigation">
		<ul>
			{% for item in mainMenu.get_items %}
				<li>
					<a href="{{item.url}}">{{item.title}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</nav>