.section__form-block {
  text-align: center;
  .gform_wrapper {
    margin-top: 6rem;
  }
  .iframe {
    padding: 0 !important;
  }
}

.woocommerce-EditAccountForm {
  fieldset, legend {
    background: none;
  }
  fieldset {
    margin-bottom: 2rem;
  }
}