<section class="section__form-block">
  <div class="inner-container">
    <div class="row">
      <div class="mobile-col-1-1 tablet-col-5-6__centered tablet-landscape-col-1-2__centered">
        <div class="wysiwyg">
          {{item.form_content}}
        </div>
      </div>
    </div>
  </div>
</section>
