<section>
  <div class="inner-container">
    <div class="row">
      <div class="mobile-col-6-8__centered">
        <div class="wysiwyg">
          {{item.content}}
        </div>
      </div>
    </div>
  </div>
</section>
