<header class="header__image-page-header">
  <div class="container-cover-image">
    <img src="{{item.header_image.url}}" alt="{{item.header_image.alt}}">
	</div>
  <div class="inner-container">
    <div class="row">
			<div class="mobile-col-1-1 tablet-col-5-6 desktop-col-2-3">
        {{item.header_text}}
      </div>
    </div>
  </div>
</header>
