<header class="header__text-header">
  <div class="inner-container">
    <div class="row">
      <div class="mobile-col-1-1 tablet-col-3-4__centered">
          {{item.header_text}}
      </div>
    </div>
  </div>
</header>