table {
  thead {
    th {
      text-align: left;
      background: #fff;
      font-family: $primary-font-family;
    }
  }
  tbody, tfoot {
    tr th {
      background: #fff;
    }
    tr.recurring-totals th {
      color: #fff;
      background: #000;
    }
  }
}